*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $color2;
}

    #siteMenu{
        display: flex;
        justify-content: space-between;
        background-color: $color1;
        box-shadow: 6px 0 14px $colorBlack;
        border-bottom: 1px solid rgba($colorBlack, 0.2);
        #optionContainer{
            ul{
                display: flex;
                justify-content: space-around;
                li{
                    list-style: none;
                    text-align: center;
                    font-family: 'mainFont';
                    text-transform: uppercase;
                    color: $colorWhite;
                    border-bottom: 1px solid rgba($colorBlack, 0);
                    border-top: 1px solid rgba($colorBlack, 0);
                    transition: all 650ms;
                    &:hover{
                        background-color: rgba($colorBlack, 0.2);
                        cursor: pointer;
                        border-bottom: 1px solid rgba($colorBlack, 0.6);
                        border-top: 1px solid rgba($colorBlack, 0.6);
                    }
                }
            }
        }
    }
    .title{
        background-color: $color1;
        margin: 12px 0;
        box-shadow: 6px 0 14px $colorBlack;
        border-bottom: 1px solid rgba($colorBlack, 0.6);
        border-top: 1px solid rgba($colorBlack, 0.6);
        padding: 5px 0;
        text-align: center;
        #menuH1{
            color: $colorWhite;
            font-family: 'mainFont';
           font-size: 1.5rem; 
        }
    }


@media (max-width: 380px){
    #siteMenu{
        width: 100vw;
        height: 60px;
        #logoContainer{
            width: 10%;
            img{
                width: 100%;
                margin-top: 1vw;
            }
        }
        #optionContainer{
            width: 90%;
            ul{
                margin-top: 3vw;
                li{
                    width: 18%;
                    font-size: 0.6rem;
                }
            }
        }
    }
}
@media (min-width: 381px) and (max-width: 500px){
    #siteMenu{
        width: 100vw;
        height: 60px;
        #logoContainer{
            width: 10%;
            img{
                width: 100%;
                margin-top: 1vw;
            }
        }
        #optionContainer{
            width: 90%;
            ul{
                margin-top: 3vw;
                li{
                    width: 18%;
                    font-size: 0.75rem;
                }
            }
        }
    }
}
@media (min-width: 501px) and (max-width: 800px){
    #siteMenu{
        width: 100vw;
        height: 60px;
        #logoContainer{
            width: 10%;
            img{
                margin-top: 1vw;
                max-width: 55px;
            }
        }
        #optionContainer{
            width: 90%;
            ul{
                margin-top: 3vw;
                li{
                    width: 18%;
                    font-size: 0.75rem;
                }
            }
        }
    }
}

@media (min-width: 801px){
    #siteMenu{
        height: 80px;
        #logoContainer{
            width: 20%;
            img{
                width: 100%;
                max-width: 80px;
            }
        }
        #optionContainer{
            width: 80%;
            ul{
                margin-top: 25px;
                max-width: 730px;
                li{
                    width: 18%;
                    max-width: 130px;
                    font-size: 1.2rem;
                }
            }
        }
    }
}