//FONTS

@font-face {
    font-family: 'mainFont';
    src: url('../styles/Kanit-Regular.ttf');
}

@font-face {
    font-family: 'titleCardFont';
    src: url('../styles/Corinthia-Bold.ttf');
}

//COLORS

$color1: #755528;
$color2: #f7d29e;
$color3: #f5b253;
$color4: #75644b;
$color5: #c28d42;
$colorWhite: #fff;
$colorBlack: #000;